﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>HVAC Fault Sequence Detection Application</h1>
    <p class="lead">This web application stub does absolutely nothing. It's just here to
    show how I would have organized the projects if I had time to implement the MVC Web App.
    Please see the FaultPatternLib and NUnit.FaultPatternLib projects for my code.</p>
</div>

